# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.c9revisions
.settings/
bin/

# VS Code
.vscode/

# Mac system files
.DS_Store

# Maven
target/

# Gradle
.gradle/
build/

# Logs
logs/